[Unit]
Decription=ejercicio 5

[Timer]
OnCalendar=*-*-* 14:30:00:0/15
OnCalendar=Mon *-*-* 06:00:00
OnCalendar=Sat,Sun *-*-* 08:00:00
OnCalendar=*-06..08-* 05:00:00
OnCalendar=*-*-* 09:00:00..18:00:00
OnCalendar=Fri *-*-28..31 11:45:00
OnCalendar=Sat,Sun *-06..08-* *:0/10
Persistent=true

[Install]
WantedBy=timers.target
